.badge {
  background-color: $color-default;
  border-radius: 3px;
  color: $color-neutral;
  display: inline-block;
  font-size: 14px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;

  &-danger {
    background-color: $color-danger;
  }

  &-neutral {
    background-color: $color-neutral;
    color: $color-text;
  }

  &-primary {
    background-color: $color-primary;
  }

  &-secondary {
    background-color: $color-secondary;
  }
}
