.button {
  background-color: $color-default;
  border: 0;
  border-radius: .25rem;
  box-shadow: 0 .12rem .12rem 0 rgba(0, 0, 0, .16), 0 .12rem .5rem 0 rgba(0, 0, 0, .12);
  color: $color-neutral;
  display: inline-block;
  font-size: 1rem;
  padding: .68rem .81rem;
  transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 1.25rem 1.25rem -.62rem rgba(0, 0, 0, .2), 0 .25rem .81rem 0 rgba(0, 0, 0, .2);
    transform: translateY(-.06rem);
  }

  &:focus{
    outline: none;
  }

  &-disabled,
  &[disabled] {
    background-color: $color-default-light;
    box-shadow: none;
    color: $color-neutral;

    &:hover,
    &:focus {
      box-shadow: none;
      cursor: not-allowed;
      transform: none;
    }
  }

  &-primary {
    background-color: $color-primary;
  }

  &-secondary {
    background-color: $color-secondary;
  }

  &-neutral {
    background-color: $color-neutral;
    color: $color-text;
  }

  &-danger {
    background-color: $color-danger;
  }

  &-text {
    background-color: transparent;
    box-shadow: none;
    color: $color-primary;
    padding: 0;
    transition: none;

    &:focus,
    &:hover {
      box-shadow: none;
      text-decoration: underline;
      transform: none;
    }
  }
}
