.button {
  background-color: $color-default;
  border: 0;
  border-radius: .25rem;
  color: $color-neutral;
  display: inline-block;
  font-size: 1rem;
  padding: .68rem .81rem;
  position: relative;
  transition: transform .3s ease-in-out;
  z-index: 1;

  &::before,
  &::after {
    border-radius: .25rem;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease-in-out;
    width: 100%;
    z-index: -1;

  }

  &::before {
    box-shadow: 0 .12rem .12rem 0 rgba(0, 0, 0, .16), 0 .12rem .5rem 0 rgba(0, 0, 0, .12);
  }

  &::after {
    box-shadow: 0 1.25rem 1.25rem -.62rem rgba(0, 0, 0, .2), 0 .25rem .81rem 0 rgba(0, 0, 0, .2);
    opacity: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    transform: translateY(-.0625rem);

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

  &:focus{
    outline: none;
  }

  &.no-shadow {
    @mixin disable-shadow;
  }

  &-disabled,
  &[disabled] {
    background-color: $color-default-light;
    box-shadow: none;
    color: $color-neutral;
    cursor: not-allowed;

    @mixin disable-shadow;
  }

  @each $color in primary, secondary, danger {
    &-$(color) {
      background-color: $color-${color};
    }
  }

  &-neutral {
    background-color: $color-neutral;
    color: $color-text;
  }

  &-text {
    background-color: transparent;
    color: $color-primary;
    padding: 0;
    transition: none;

    &:hover {
      text-decoration: underline;
    }

    @mixin disable-shadow;

    &[disabled] {
      background-color: transparent;
      color: $color-default-light;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
