html {
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $color-text;
  font-family: $default-font-family;
}

hr {
  background-color: $color-default-light;
  border: 0;
  height: .06rem;
  width: 100%;
}

@import "atoms/text/heading";
@import "atoms/text/paragraph";
@import "atoms/text/style";
@import "atoms/text/alignment";
@import "atoms/text/transform";
@import "atoms/text/link";
