.select {
  background-color: $color-neutral;
  border: 1px solid $color-default-light;
  border-radius: 4px;
  color: $color-default;
  height: 2.46rem;
  padding: .6rem .4rem;
  transition: border-color .3s ease-in-out;
  width: 100%;

  &:hover {
    border-color: $color-primary-light;
  }

  &:focus {
    border-left-color: $color-neutral;
    border-radius: 0;
    border-right-color: $color-neutral;
    border-top-color: $color-neutral;
    outline: none;
  }

  &[disabled] {

    &:hover {
      border-color: $color-default-light;
      cursor: not-allowed;
    }
  }
}
