.container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  overflow: auto;
  padding-left: 1.2em;
  padding-right: 1.2em;
  width: 100%;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.img {
  display: block;
  height: auto;
  max-width: 100%;
}

.nav {
  margin-top: .625em;
}

.nav .link {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 1.25em;
}

.nav .link:hover {
  color: #ffffff;
}

.nav .link-active {
  color: #ffffff;
}

@media (min-width: 481px) {

  .nav {
    float: right;
  }

  .nav .link {
    margin-left: 1.25em;
    margin-right: 0;
  }
}
.highlight {
  margin-top: 1.87rem;
}
.highlight .img {
  height: 7.5rem;
  margin-left: auto;
  margin-right: auto;
}
.highlight-title {
  color: #72bf44;
}

@media (min-width: 481px) {

  .highlight {
    width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
  }

  .highlight:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }

  .highlight:last-child {
    margin-right: 0;
  }

  .highlight:nth-child(2n) {
    margin-right: 0;
  }

  .highlight:nth-child(2n + 1) {
    clear: left;
  }
}
.sidebar {
  border: .06rem solid #e5e5e5;
  border-radius: .18rem;
  margin-bottom: .62rem;
}
.sidebar .link {
  border-bottom: .06rem solid #e5e5e5;
  border-left: .12rem solid transparent;
  display: block;
  padding: .5rem .62rem;
}
.sidebar .link:last-child {
  border-bottom: 0;
}
.sidebar .link:hover, .sidebar .link:focus {
  background-color: rgb(242, 242, 242);
}
.sidebar .link-active {
  border-left-color: #72bf44;
  color: #333333;
  font-weight: bold;
}
.sidebar .link-active:hover, .sidebar .link-active:focus {
  background-color: #ffffff;
}
.palette {
  *zoom: 1;
}
.palette:before {
  content: '';
  display: table;
}
.palette:after {
  content: '';
  display: table;
  clear: both;
}
.palette .color {
  box-shadow: .06rem .06rem .18rem rgba(0, 0, 0, .2);
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.palette .color::after {
  display: inline-block;
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  width: 100%;
}
.palette .color-primary {
  background-color: #72bf44;
}
.palette .color-primary::after {
  content: "color-primary: #72bf44";
}
.palette .color-primary-dark {
  background-color: #397615;
  color: #ffffff;
}
.palette .color-primary-dark::after {
  content: "color-primary-dark: #397615";
}
.palette .color-primary-light {
  background-color: #cae4b8;
}
.palette .color-primary-light::after {
  content: "color-primary-light: #cae4b8";
}
.palette .color-primary-lighter {
  background-color: #f1f8ec;
}
.palette .color-primary-lighter::after {
  content: "color-primary-lighter: #f1f8ec";
}
.palette .color-secondary {
  background-color: #bada2e;
}
.palette .color-secondary::after {
  content: "color-secondary: #bada2e";
}
.palette .color-default {
  background-color: #a6a6a6;
  color: #ffffff;
}
.palette .color-default::after {
  content: "color-default: #a6a6a6";
}
.palette .color-default-dark {
  background-color: #666666;
  color: #ffffff;
}
.palette .color-default-dark::after {
  content: "color-default-dark: #666666";
}
.palette .color-default-darker {
  background-color: #333333;
  color: #ffffff;
}
.palette .color-default-darker::after {
  content: "color-default-darker: #333333";
}
.palette .color-default-light {
  background-color: #e5e5e5;
}
.palette .color-default-light::after {
  content: "color-default-light: #e5e5e5";
}
.palette .color-default-lighter {
  background-color: #f8f8f8;
}
.palette .color-default-lighter::after {
  content: "color-default-lighter: #f8f8f8";
}
.palette .color-neutral {
  background-color: #ffffff;
}
.palette .color-neutral::after {
  content: "color-neutral: #ffffff";
}
.palette .color-text {
  background-color: #333333;
  color: #ffffff;
}
.palette .color-text::after {
  content: "color-text: #333333";
}
.palette .color-warning {
  background-color: #fae800;
}
.palette .color-warning::after {
  content: "color-warning: #fae800";
}
.palette .color-danger {
  background-color: #ed1c24;
  color: #ffffff;
}
.palette .color-danger::after {
  content: "color-danger: #ed1c24";
}
.palette .color-success {
  background-color: #72bf44;
  color: #ffffff;
}
.palette .color-success::after {
  content: "color-success: #72bf44";
}

@media (min-width: 481px) {

  .color {
    width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
    height: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  }

  .color:nth-child(n) {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    clear: none;
  }

  .color:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  .color:nth-child(3n) {
    margin-right: 0;
  }

  .color:nth-child(3n + 1) {
    clear: left;
  }

  .color:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.glyphs {
  *zoom: 1;
}
.glyphs:before {
  content: '';
  display: table;
}
.glyphs:after {
  content: '';
  display: table;
  clear: both;
}
.glyphs .glyph-container {
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: .8rem;
  width: calc(99.99% * 6/12 - (30px - 30px * 6/12));
  margin-bottom: 1rem;
  padding: 1rem .7rem;
  text-align: center;
  transition: all .1s ease-in-out;
}
.glyphs .glyph-container:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.glyphs .glyph-container:last-child {
  margin-right: 0;
}
.glyphs .glyph-container:nth-child(2n) {
  margin-right: 0;
}
.glyphs .glyph-container:nth-child(2n + 1) {
  clear: left;
}
.glyphs .glyph-container:hover {
  background-color: #72bf44;
  color: #ffffff;
}
.glyphs .glyph-container .glyph {
  font-size: 1.3rem;
  margin-bottom: .31rem;
}

@media (min-width: 481px) {

  .glyphs .glyph-container {
    width: calc(99.99% * 3/12 - (30px - 30px * 3/12));
  }

  .glyphs .glyph-container:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }

  .glyphs .glyph-container:last-child {
    margin-right: 0;
  }

  .glyphs .glyph-container:nth-child(4n) {
    margin-right: 0;
  }

  .glyphs .glyph-container:nth-child(4n + 1) {
    clear: left;
  }

}
.callout {
  border-left: .25rem solid #72bf44;
  margin: 1.5rem 0;
  padding: .3rem 1rem;
}
.callout p {
  margin-bottom: 0;
  margin-top: .3rem;
}

.callout-title {
  color: #72bf44;
  font-size: 1.5rem;
}

.header {
  background-color: #72bf44;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
}
.footer {
  color: #a6a6a6;
  font-size: .8em;
  line-height: 1.4em;
  margin-top: 1.25rem;
  text-align: center;
}

@media (min-width: 481px) {

  .footer {
    font-size: 1em;
    text-align: left;
  }
}
.banner {
  background-color: #72bf44;
  height: 18.75rem;
  text-align: center;
}
.banner .title {
  color: #ffffff;
  font-size: 1.875em;
  line-height: 1.3em;
  *zoom: 1;
  margin-bottom: 2rem;
  max-width: 43.75;
}
.banner .title:before {
  content: '';
  display: table;
}
.banner .title:after {
  content: '';
  display: table;
  clear: both;
}
.banner .btn {
  border: .06rem solid #ffffff;
  border-radius: .18rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 200;
  padding: .625em 1.25em;
}
.banner .btn:hover {
  background-color: #ffffff;
  color: #72bf44;
}

@media (min-width: 481px) {

  .banner {
    padding-top: 3em;
    text-align: left;
  }

  .banner .button {
    float: left;
  }
}
.docs {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
.docs [data-copy] {
  border-radius: .1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8em;
  padding: .2rem .3rem;
  position: absolute;
  right: 0;
  top: 0;
}
.docs [data-copy]:hover {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.docs [data-clipboard-text] {
  overflow: hidden;
  position: relative;
}
.docs [data-clipboard-text]::before {
  background-color: #666666;
  color: #ffffff;
  content: "copied";
  font-weight: bold;
  left: 0;
  padding: .3rem;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.docs [data-clipboard-text].copied::before {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.docs .example-code{
  border-bottom: 0;
  border-radius: .18rem .18rem 0 0;
}
.docs .example + pre {
  border-radius: 0 0 .18rem .18rem;
  margin-top: 0;
}
.docs pre {
  position: relative;
}
.docs code[class*="language-"], .docs pre[class*="language-"] {
  font-size: .8rem;
}
.docs table {
  color: #666666;
  width: 100%;
}
.docs table td, .docs table th{
  padding: .72rem .62rem;
}
.docs table thead {
  background-color: #72bf44;
  color: #ffffff;
}
.docs table tbody tr:nth-child(even) {
  background-color: #f1f8ec;
}
.docs ul {
  display: inline-block;
  list-style: none;
  margin-top: 0;
  padding-left: 10px;
}
.docs ul a {
  display: block;
  margin-bottom: 0;
  padding-bottom: 2px;
  padding-top: 2px;
}
.docs ul a:hover {
  color: #397615;
  text-decoration: none;
}
.docs div[class*="col-"] {
  background-color: #72bf44;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 1rem 0;
  text-align: center;
}
.docs div[class*="col-"] > div {
  background-color: #bada2e;
}

@media (min-width: 481px) {

  .docs {
    *zoom: 1;
  }

  .docs:before {
    content: '';
    display: table;
  }

  .docs:after {
    content: '';
    display: table;
    clear: both;
  }

  .docs .sidebar {
    width: calc(99.99% * 3/12 - (30px - 30px * 3/12));
  }

  .docs .sidebar:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }

  .docs .sidebar:last-child {
    margin-right: 0;
  }

  .docs .sidebar:nth-child(12n) {
    margin-right: 0;
  }

  .docs .sidebar:nth-child(12n + 1) {
    clear: left;
  }

  .docs .sidebar + .content {
    width: calc(99.99% * 9/12 - (30px - 30px * 9/12));
  }

  .docs .sidebar + .content:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }

  .docs .sidebar + .content:last-child {
    margin-right: 0;
  }

  .docs .sidebar + .content:nth-child(12n) {
    margin-right: 0;
  }

  .docs .sidebar + .content:nth-child(12n + 1) {
    clear: left;
  }
}
.content > *:first-child {
  margin-top: 0;
}
.content > h2 {
  margin-top: 3.75rem;
}
.content p code {
  border-bottom: .06rem solid #e5e5e5;
  border-radius: .12rem;
  color: #72bf44;
  display: inline-block;
}
.content .example-item {
  margin-bottom: .62rem;
  margin-top: .62rem;
}
.content a:hover, .content .link:hover {
  text-decoration: underline;
}
.example {
  border: .06rem solid #e5e5e5;
  border-radius: .18rem;
  padding: .93rem 1.25rem;
}
.example h1, .example .heading-1, .example h2, .example .heading-2, .example h3, .example .heading-3, .example h4, .example .heading-4, .example h5, .example .heading-5, .example h6, .example .heading-6 {
  margin: .62rem 0;
}
.example .row {
  *zoom: 1;
}
.example .row:before {
  content: '';
  display: table;
}
.example .row:after {
  content: '';
  display: table;
  clear: both;
}
.example .row div {
  background-color: #72bf44;
  height: 1.87rem;
}
.example .row .two {
  width: calc(99.99% * 2/12 - (30px - 30px * 2/12));
}
.example .row .two:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.example .row .two:last-child {
  margin-right: 0;
}
.example .row .two:nth-child(12n) {
  margin-right: 0;
}
.example .row .two:nth-child(12n + 1) {
  clear: left;
}
.example .row .three {
  width: calc(99.99% * 3/12 - (30px - 30px * 3/12));
}
.example .row .three:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.example .row .three:last-child {
  margin-right: 0;
}
.example .row .three:nth-child(12n) {
  margin-right: 0;
}
.example .row .three:nth-child(12n + 1) {
  clear: left;
}
.example .row .four {
  width: calc(99.99% * 4/12 - (30px - 30px * 4/12));
}
.example .row .four:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.example .row .four:last-child {
  margin-right: 0;
}
.example .row .four:nth-child(12n) {
  margin-right: 0;
}
.example .row .four:nth-child(12n + 1) {
  clear: left;
}
.example .button {
  margin-bottom: .62rem;
  margin-right: .93rem;
}
.example .button:only-child, .example .button:nth-last-child(4), .example .button:nth-last-child(4) ~ .button {
  margin-bottom: 0;
}
.example .glyph {
  font-size: 2rem;
}
.example > .price-tag {
  max-width: 8.75rem;
}
.example .thumbnail {
  width: 13.8rem;
}
.example .thumbnail .button {
  margin-right: 0;
  width: 100%;
}
.example .panel {
  width: 165px;
}
.example .panel-large, .example .panel-wide {
  width: 335px;
}

@media (min-width: 481px) {

  .example .button {
    margin-bottom: 0;
  }
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"], pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
	color: #f92672;
}

.token.boolean, .token.number {
	color: #ae81ff;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
	color: #a6e22e;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
	color: #f8f8f2;
}

.token.atrule, .token.attr-value, .token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex, .token.important {
	color: #fd971f;
}

.token.important, .token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*# sourceMappingURL=style.css.map */
