@define-mixin form-component $border-color, $border-color-focus {
  border: 1px solid $color-$(border-color);
  border-radius: 4px;
  color: $color-text;
  outline: 0;
  padding-bottom: .6rem;
  padding-left: .4rem;
  padding-right: .4rem;
  padding-top: .6rem;
  transition: border-color .3s ease-in-out;
  width: 100%;
  @mixin-content;

  &:focus {
    border-bottom-color: $color-$(border-color-focus);
    @extend reset-border-color-input;
  }

  &[disabled] {
    background-color: $color-neutral;

    &:hover {
      cursor: not-allowed;
    }
  }
}

@define-mixin field-validation $color-name, $glyph-name {

  &::after {
    @extend $glyph-name;
    background-color: $color-$(color-name);
    color: $color-neutral;
    font-family: Glyphs;
    font-size: .6rem;
    line-height: 1.2rem;
    text-align: center;
  }

  .input,
  .select,
  .textarea {
    border-bottom-color: $color-$(color-name);
    @extend reset-border-color-input;
  }

  .label,
  .helper {
    color: $color-$(color-name);
  }
}
