.docs {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;

  [data-copy] {
    border-radius: .1em;
    font-family: $default-font-family;
    font-size: .8em;
    padding: .2rem .3rem;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      transform: translateY(0);
    }
  }

  [data-clipboard-text] {
    overflow: hidden;
    position: relative;

    &::before {
      background-color: $color-default-dark;
      color: $color-neutral;
      content: "copied";
      font-weight: bold;
      left: 0;
      padding: .3rem;
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      transition: transform .3s ease-in-out;
    }

    &.copied::before {
      transform: none;
    }
  }

  .example {

    &-code{
      border-bottom: 0;
      border-radius: .18rem .18rem 0 0;
    }

    & + pre {
      border-radius: 0 0 .18rem .18rem;
      margin-top: 0;
    }
  }

  pre {
    position: relative;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: .8rem;
  }

  table {
    color: $color-default-dark;
    width: 100%;

    td,
    th{
      padding: .72rem .62rem;
    }

    thead {
      background-color: $color-primary;
      color: $color-neutral;
    }

    tbody {

      tr {

        &:nth-child(even) {
          background-color: $color-primary-lighter;
        }
      }
    }
  }

  ul {
    display: inline-block;
    list-style: none;
    margin-top: 0;
    padding-left: 10px;

    a {
      display: block;
      margin-bottom: 0;
      padding-bottom: 2px;
      padding-top: 2px;

      &:hover {
        color: $color-primary-dark;
        text-decoration: none;
      }
    }
  }

  div[class*="col-"] {
    color: $color-neutral;
    margin-bottom: 10px;
    text-align: center;

    div {
      background-color: $color-primary;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }
}

@media (--small) {

  .docs {
    lost-utility: clearfix;

    .sidebar {
      lost-column: 3/12;
    }

    .sidebar + .content {
      lost-column: 9/12;
    }
  }
}
