.palette {
  lost-utility: clearfix;

  .color {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: .9rem;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    text-align: center;

    &::before {
      content: "Copied!";
      position: absolute;
      transform: translateY(100%);
    }

    &::after,
    &::before {
      display: inline-block;
      padding-bottom: 1.3rem;
      padding-top: 1.3rem;
      transition: transform .3s ease-in-out;
      width: 100%;
    }
  }

  .copied {

    &::after {
      transform: translateY(-100%);
    }

    &::before {
      transform: translateY(0%);
    }
  }

  .color-primary {
    background-color: $color-primary;

    &::after {
      content: "color-primary: $(color-primary)";
    }
  }

  .color-primary-dark {
    background-color: $color-primary-dark;
    color: $color-neutral;

    &::after {
      content: "color-primary-dark: $(color-primary-dark)";
    }
  }

  .color-primary-light {
    background-color: $color-primary-light;

    &::after {
      content: "color-primary-light: $(color-primary-light)";
    }
  }

  .color-primary-lighter {
    background-color: $color-primary-lighter;

    &::after {
      content: "color-primary-lighter: $(color-primary-lighter)";
    }
  }

  .color-secondary {
    background-color: $color-secondary;

    &::after {
      content: "color-secondary: $(color-secondary)";
    }
  }

  .color-default {
    background-color: $color-default;
    color: $color-neutral;

    &::after {
      content: "color-default: $(color-default)";
    }
  }

  .color-default-dark {
    background-color: $color-default-dark;
    color: $color-neutral;

    &::after {
      content: "color-default-dark: $(color-default-dark)";
    }
  }

  .color-default-darker {
    background-color: $color-default-darker;
    color: $color-neutral;

    &::after {
      content: "color-default-darker: $(color-default-darker)";
    }
  }

  .color-default-light {
    background-color: $color-default-light;

    &::after {
      content: "color-default-light: $(color-default-light)";
    }
  }

  .color-default-lighter {
    background-color: $color-default-lighter;

    &::after {
      content: "color-default-lighter: $(color-default-lighter)";
    }
  }

  .color-neutral {
    background-color: $color-neutral;

    &::after {
      content: "color-neutral: $(color-neutral)";
    }
  }

  .color-text {
    background-color: $color-text;
    color: $color-neutral;

    &::after {
      content: "color-text: $(color-text)";
    }
  }

  .color-error {
    background-color: $color-error;
    color: $color-neutral;

    &::after {
      content: "color-error: $(color-error)";
    }
  }

  .color-warning {
    background-color: $color-warning;

    &::after {
      content: "color-warning: $(color-warning)";
    }
  }
}

@media (--tablet) {

  .color {
    lost-waffle: 1/3;
  }
}
