.sidebar {
  border: 1px solid $color-default-light;
  border-radius: 3px;
  margin-bottom: 10px;

  .link {
    border-bottom: 1px solid $color-default-light;
    border-left: 2px solid transparent;
    display: block;
    padding: 8px 10px;

    &:last-child {
      border-bottom: 0;
    }

    &:hover,
    &:focus {
      background-color: color($color-default-light l(95%));
    }

    &--active {
      border-left-color: $color-primary;
      color: $color-text;
      font-weight: bold;

      &:hover,
      &:focus {
        background-color: $color-white;
      }
    }
  }
}
