.steps-bullet {
  background-color: $color-default-light;
  border: .3125rem solid $color-default-light;
  border-radius: 100%;
  color: transparent;
  display: inline-block;
  height: 2.5rem;
  line-height: 1.875rem;
  width: 2.5rem;
}
