header.header
  .container
    a.logo(href="/")
      img(src=root('images/garden-white.png'), width="100")
    nav.nav
      a.link(href="/about.html", class=path == 'about' ? "link-active" : undefined) About
      a.link(href="/getting-started.html", class=path == 'getting-started' ? "link-active" : undefined) Getting Started
      a.link(href="/components/scaffolding.html", class=collection == 'docs' ? "link-active" : undefined) Docs
