.close {
  background-color: $color-default;
  border-radius: 100%;
  color: $color-neutral;
  float: right;
  font-size: .75rem;
  padding-bottom: .37rem;
  padding-left: .43rem;
  padding-right: .43rem;
  padding-top: .37rem;
}
