.modal-content {
  background-color: $color-neutral;
  border-radius: .25rem;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .5);
  display: none;
  left: 50%;
  max-height: 90%;
  opacity: 0;
  overflow: auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  transition: all .3s ease;
  width: 95%;
  z-index: $modal-content-index;

  &-enter {
    display: block;
  }

  &-show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &-leave {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.3);
  }

  &-hide {
    display: none;
  }
}

@media (--medium) {

  .modal-content {
    width: 65%;
  }
}

@media (--large) {

  .modal-content {
    width: 50%;
  }
}
