.banner {
  background-color: $color-primary;
  height: 300px;
  text-align: center;

  .title {
    color: $color-white;
    font-size: 1.875em;
    line-height: 1.3em;
    lost-utility: clearfix;
    max-width: 700px;
  }

  .button {
    border: 1px solid $color-white;
    border-radius: 3px;
    color: $color-white;
    display: block;
    font-size: 1.4em;
    font-weight: 200;
    margin-top: 1.875em;
    padding: .625em 1.25em;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }
}

@media (--tablet) {

  .banner {
    padding-top: 3em;
    text-align: left;

    .button {
      float: left;
    }
  }
}
