.content {

  & > *:first-child {
    margin-top: 0 !important;
  }

  & > h2 {
    margin-top: 60px;
  }

  p code {
    border-bottom: 1px solid $color-gray-light;
    border-radius: 2px;
    color: $color-green;
    display: inline-block;
    font-weight: bold;
  }

  .example-item {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
