.content {

  & > *:first-child {
    margin-top: 0;
  }

  & > h2 {
    margin-top: 60px;
  }

  p code {
    border-bottom: 1px solid $color-default-light;
    border-radius: 2px;
    color: $color-primary;
    display: inline-block;
  }

  .example-item {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  a,
  .link {

    &:hover {
      text-decoration: underline;
    }
  }
}
