.docs {
  margin-bottom: 20px;
  margin-top: 20px;

  [data-copy] {
    display: none;
  }
}

@media (--tablet) {

  .docs {
    lost-utility: clearfix;

    .sidebar {
      lost-column: 3/12;
    }

    .sidebar + .content {
      lost-column: 9/12;
    }
  }
}
