.docs {
  margin-bottom: 20px;
  margin-top: 20px;

  [data-copy] {
    border-radius: .1em;
    font-family: $default-font-family;
    font-size: .6em;
    padding: .2rem .3rem;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      transform: translateY(0);
    }
  }

  pre {
    position: relative;
  }
}

@media (--tablet) {

  .docs {
    lost-utility: clearfix;

    .sidebar {
      lost-column: 3/12;
    }

    .sidebar + .content {
      lost-column: 9/12;
    }
  }
}
