.docs {
  margin-bottom: 20px;
  margin-top: 20px;

  [data-copy] {
    border-radius: .1em;
    font-family: $default-font-family;
    font-size: .8em;
    padding: .2rem .3rem;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      transform: translateY(0);
    }
  }

  .example {

    &-code{
      border-bottom: 0;
      border-radius: .18rem .18rem 0 0;
    }

    & + pre {
      border-radius: 0 0 .18rem .18rem;
      margin-top: 0;
    }
  }

  pre {
    position: relative;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: .8rem;
  }
}

@media (--tablet) {

  .docs {
    lost-utility: clearfix;

    .sidebar {
      lost-column: 3/12;
    }

    .sidebar + .content {
      lost-column: 9/12;
    }
  }
}
