.example {
  border: 1px solid $color-default-light;
  border-radius: 3px;
  padding: 10px 20px;

  h1,
  .heading-1,
  h2,
  .heading-2,
  h3,
  .heading-3,
  h4,
  .heading-4,
  h5,
  .heading-5,
  h6,
  .heading-6 {
    margin: 10px 0;
  }

  .row {
    lost-utility: clearfix;

    div {
      background-color: $color-primary;
      height: 30px;
    }

    .two {
      lost-column: 2/12;
    }

    .three {
      lost-column: 3/12;
    }

    .four {
      lost-column: 4/12;
    }
  }
}
