.footer {
  color: $color-default;
  font-size: .8em;
  line-height: 1.4em;
  margin-top: 20px;
  text-align: center;
}

@media (--tablet) {

  .footer {
    font-size: 1em;
    text-align: left;
  }
}
