doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Garden
    
    link(rel="icon", href="images/favicon.png", type="image/png")
    link(rel="stylesheet", href="garden.min.css")
    link(rel="stylesheet", href="style.css")
    
  body
    include _partials/header.jade
    
    main.banner
      .container
        h1.title A front end library to help you make ​<strong>your</strong>​ grass greener than the other side
        a.button(href="grid.html") checkout the docs
    
    include _partials/footer.jade
