doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    title Garden
    link(rel="stylesheet", href="style.css")
    
  body
    include _partials/header.jade
    
    main.banner
      .container
        h1.title A front end library to help you make ​<strong>your</strong>​ grass greener than the other side
        a.button(href="css.html") checkout the docs
    
    include _partials/footer.jade
